{% block about %}
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Jules Lasne is a passionate developer who loves his job and loves what he does.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Give him coffee and he'll turn it into code !</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="#">
                    <i class="fas fa-briefcase mr-2"></i>
                    Hire me !
                </a>
            </div>
        </div>
    </section>
{% endblock about %}